@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --lightBackGround : #F0F0F4;
    --darkBackGround :  #151c25;


    --color-slate-light :  #26313F;
    --color-green-light :  #55E5A4;


    --color-gray-light : #A9A9A9;
    --color-white-light : #F0F0F4;
}

/* Animation */

/* =================== */